#navMenu2 .ant-menu-item {
  background-color: green;

}

#navMenu2 .ant-menu-submenu-title {
  background-color: green;

}

#navMenu2-sub2-popup .ant-menu-item {
  background-color: green;
}


#navMenu2 .ant-menu-item-only-child {
  background-color: green;
}