#navMenu .ant-menu-item:hover {
  background-color: lightgray;

}

#navMenu .ant-menu-submenu-title:hover {
  background-color: lightgray;



}

#navMenu-sub2-popup .ant-menu-item:hover {
  background-color: lightgray;


}

#navMenu .ant-menu-item-only-child:hover {
  background-color: lightgray;

  
}