.ant-menu-item:hover {
  background-color: red !important;
}

.ant-menu-submenu-title:hover {
  background-color: red !important;
}

.ant-menu-item:hover {
  background-color: red !important;
}

.ant-menu-submenu-title:hover {
  background-color: red !important;
}